{% load my_tags %}
<div class="container">
    <div class="row text-center">
<!--        {% if user.is_authenticated %}-->
        {% for object in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <img src="{% mediapath '23052.jpg' %}" class="card-img-top">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{object.price}}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li><h5>{{ object.description|truncatechars:100 }}</h5></li>
                    </ul>
                    {% for version in object.version_set.all %}
                    {% if version.current_version %}
                    <p class="text" align="right">Актуальная версия: {{ version.number_version }}</p>
                    {% endif %}
                    {% endfor %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-outline-primary">Купить</button>
                        <a href="{% url 'catalog:product_details' object.id%}"
                           class="btn btn-block btn-outline-primary">Детали</a>
                        <a href="{% url 'catalog:update_product' object.id %}"
                           class="btn btn-block btn-outline-primary">Изменить продукт</a>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
<!--        {% endif %}-->
    </div>
</div>