{% extends 'catalog/base.html'%}
{% block content %}

<div class="container" align="center">
    <div class="col-12">
        <form method="post" class="row">
            <div class="col-4"></div>
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <div>
                            {% csrf_token %}
                            <label for="email">Почта</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="example@example.example">
                            <input type="submit" class="btn m-2 btn-block btn-outline-primary" value="Отправить">
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}